<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>configName</key>
		<string>TelematicsApp_Configuration</string>
		<key>userServiceRootURL</key>
		<string>https://user.telematicssdk.com/v1</string>
		<key>indicatorsServiceURL</key>
		<string>https://api.telematicssdk.com/indicators/v1</string>
		<key>driveCoinsServiceURL</key>
		<string>https://mobilesdk.telematicssdk.com/api/rewarding/v2</string>
		<key>leaderboardServiceURL</key>
		<string>https://leaderboard.telematicssdk.com/v1</string>
		<key>carServiceURL</key>
		<string>https://services.telematicssdk.com/api/carservice/v1</string>
		<key>claimsServiceURL</key>
		<string>https://insp.telematicssdk.com/api/v1</string>
		<key>instanceId</key>
		<string>4b9af65a-92cf-4df0-9b98-448070b94389</string>
		<key>instanceKey</key>
		<string>cf99d828-dd02-4e73-b38e-f1d386b55017</string>
		<key>linkPrivacyPolicy</key>
		<string>https://www.garilab.com/politica-privacidad</string>
		<key>linkTermsOfUse</key>
		<string>https://www.garilab.com/terminos</string>
		<key>linkHowItWorks</key>
		<string>https://help.telematicssdk.com/en/collections/1827809-mobile-application</string>
		<key>telematicsSettingsOS12</key>
		<string>https://help.telematicssdk.com/en/articles/3128577-ios-12-and-earlier-settings-guide</string>
		<key>telematicsSettingsOS13</key>
		<string>https://help.telematicssdk.com/en/articles/3740816-ios-13-settings-guide</string>
		<key>linkSupportEmail</key>
		<string>contacto@gari.mx</string>
		<key>appStoreAppId</key>
		<string>&lt;YOUR_APPSTORE_APP_ID&gt;</string>
		<key>mapsAppIdKey</key>
		<string>VT1Y8c6lRkZ5ybZ9ijjn</string>
		<key>mapsAppCode</key>
		<string>z7CEE0CSDjFv_TmH8yPK9Q</string>
		<key>mapsLicenseKey</key>
		<string>hynh7ubkajd3EgSWkD2gs+czL/mjfZ1JRBrGmPLbCX/Wxxro2qe31lRChzRj8CViWg6IjDCO6qOB74XNJEPlNDmXXqBCMs9LKnby7Zzi+wAwhG6AalNtAOvEa0HIjcV/Kpy0waGWzaBAgnfBtFbOl6wt034229TfmHEP8M4+wIS0TsGFnOft+w4gtefVgUATfvYy3uoenM1N2F1wFzNpt5X0MbbTsnVAVJCIWOU5nWuPhLg8kR3/phZd2zCMdYhryuo2ZH9sTzoIoA9CgxpAaNHfmFJCLLHWGH5klERJjoBBUPjgA7jJ03RgETT6XtC3HriEysIja4IJzg5DlZ59vwF+Y+g+OsJrLAgB93mAOnlzmjwVQ2ddpsYjxl8SL1yVxiOtKzHraQPBRu9s7ENN6d9hH62gAnHDRRHTmMxBKyblZeUdNypF9a0BmGjjqLYtfL4H8twg4p2Royje41O4+LOfvWiyin7N1+VM8XzDq6dGuVferDAvAplBZ0E5cApENB4lOiEOWQMYmmP4vlyaKhFljvKULuKwDYGqtz5n7rZgL5leP7P6DGLZ9JsZD6ppbYMUAFQOYcXwm0PDlBjrzqyOjzQNRWNJ/5E5gXcIqi4+Bnsxup6tJgyp+qFfk79VLFcJg4pJmHe/qbmYA88pc7NZ00TcwiJFFNueEr/r9Jg=</string>
		<key>mapsRestApiKey</key>
		<string>I-mElJ2-3E42TFIQeVqA86Pa9nyGM9fzpayDKMRldoU</string>
		<key>googleApiKey</key>
		<string>&lt;INSERT_YOUR_KEY_FOR_GOOGLE_SERVICES&gt;</string>
		<key>mainLogoColor</key>
		<string>app_logo_colorTelematicsApp</string>
		<key>mainLogoClear</key>
		<string>app_logo_clearTelematicsApp</string>
		<key>mainBackgroundImg</key>
		<string>feed_background</string>
		<key>additionalBackgroundImg</key>
		<string>feed_background</string>
		<key>mainTabBarNumber</key>
		<integer>0</integer>
		<key>dashboardTabBarNumber</key>
		<integer>0</integer>
		<key>feedTabBarNumber</key>
		<integer>1</integer>
		<key>rewardsTabBarNumber</key>
		<string>2</string>
		<key>profileTabBarNumber</key>
		<integer>3</integer>
		<key>needUserDriveDistanceForScoringKm</key>
		<integer>5</integer>
		<key>needTripsDeleting</key>
		<true/>
		<key>needDistanceInMiles</key>
		<false/>
		<key>needAmPmTime</key>
		<false/>
		<key>sdkEnableHighFrequency</key>
		<true/>
		<key>sdkEnableELM</key>
		<true/>
		<key>needEventsReviewButton</key>
		<true/>
	</dict>
</array>
</plist>
