<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190338126068-42m62i402p0qg6ptm723e0i2ocgmbm36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190338126068-42m62i402p0qg6ptm723e0i2ocgmbm36</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>190338126068-kbtfp8orhe45p4ggodao3nbgcf4lfobp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrgdgZDM0rOH0brNC_kI_FnX6v8hvB0Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>190338126068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.telematics.gari</string>
	<key>PROJECT_ID</key>
	<string>gari-abdcd</string>
	<key>STORAGE_BUCKET</key>
	<string>gari-abdcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190338126068:ios:143f4cbff469ef721e0ea1</string>
	<key>DATABASE_URL</key>
	<string>https://gari-abdcd-default-rtdb.firebaseio.com</string>
</dict>
</plist>